@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

body{
    font-family: 'Inter',sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100vh;
    height: auto;
    min-height: 100%; /* 100 % par rapport à l'écran*/
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}
/*------------------- le navbar ------------------- */

nav{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------Le corps ------------------- */
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: row;
    justify-content: center;*/
    align-items: center; 
    padding: 10px;
    /* height: 60%; */
    margin-top: 5%;
    width: 100vh;
    
}
.content-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}
.content-left{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-left: -200px;
}
.content-right{
    /* margin-left: 300px; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.table-quiz{
    text-align: left;
    margin-bottom: 20px;
    width: 200%;
    
    display: block;
    margin-left: -18%;
    margin-right: auto;
}
th, tr, td{
    padding: 10px;
}
tr{
    border: 1px solid rgba(148, 148, 148, 0.582);
    box-shadow: 2px 2px 3px rgba(117, 101, 101, 0.356);
}
.quiz-content{
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 2px 20px 30px rgb(117, 101, 101);
    border-radius: 20px;
    background-image: linear-gradient(to right, #c21500 0%, #ca5b00  51%, #c25e00  100%);
    color:white;

}
   
.quiz-border{
    background-color: #ffffff62;
    margin: 10px;
    padding: 15px 45px;
    text-align: left;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);      
    border-radius: 20px;
    display: block;
    width: auto;
  }
.quiz-border  tr{
    border: none;
    box-shadow: none;
}
  /* .quiz-border:hover {
    background-position: right center; /* change the direction of the change here 
    color: #fff;
    text-decoration: none;
  } */
 


.action{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.agree{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    vertical-align: middle;
}
.agree input{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
/* #edit_user{
    
    background-color: #474CFE;
    /* font-size: 12px; */
    /* border: 1px solid #474CFE; 
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    max-width:120%;
    height: 50px;
} */

.edit-user{
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 2px 20px 30px rgb(117, 101, 101);
    border-radius: 20px;
    background-image: linear-gradient(to right, #c21500 0%, #ca5b00  51%, #c25e00  100%);
    color:white;
    width: 70%;
}
.edit-user input[type="text"], .edit-user input[type="password"]{
    border: none;
    background:rgba(255, 255, 255, 0.288);
}
.edit-user button{
    border: none;
    background:rgba(255, 255, 255, 0.288);
    border-radius: 20px;
    width: 200px;
}
.edit-user button:hover{
    border: 1px solid #eeeeee;
    background:rgba(87, 86, 86, 0.288);
    color: white;
    border-radius: 20px;
    width: 200px;
}
.edit-role{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;

}

.edit-role input[type="checkbox"]{
    width: 25px;
    margin-right: 5px;
    accent-color:rgba(255, 255, 255, 0.288);
    pointer-events: none;
    
}
.edit-role label{
    margin-right: 40px;
    pointer-events: none;
}


/* ------------------- Les boutons------------------- */

button {
    /* color: #ffffff; */
    /* background-color: #474CFE; */
    /* font-size: 12px; */
    /* border: 1px solid #474CFE; */
    /* border-radius: 8px; */
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    max-width:120%;
    height: 50px;
   
}
/* button:hover {
    color: black;
    background-color: #8d90e4a4;
} */

         
.btn-quiz {
    background: rgba(255, 255, 255, 0.685);
    font-size: 18px;
    margin: 10px;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-size: 200% auto;
    color: rgb(104, 6, 6);            
    border-radius:20px;
    border: none;
    height: 50px;
  }
  .btn-quiz:hover {
    color: #fff5e8;
    background-color: #d1451a49;
    border: 1px solid #fff5e8 ;
}

a.return-quiz:link{text-decoration:none; color:#d34f03;}
a.return-quiz:visited{text-decoration:none; color:#c04600;}
a.return-quiz:hover{text-decoration:none; color:#7f7f7f;}
 



/* --------------------mes images-------------------*/



/* -------------------Mes titres ------------------- */
label{
    font-size: 18px;
}
input, select {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    border-color: #2e2c2a85;
    margin-bottom: 10px;
}
input[type="radio"] {
	accent-color: #c21500;
    width: 15px;
    height: 15px;
}
h1{
    padding: 0px;
}
h2{
    text-align: center; 
}
p{
    padding: 0px;

}


         

 